@using Library_project.Data.Enums
@model Library_project.ViewModels.Reports.reviewsReportViewModel
@{
    ViewBag.Title = "AverageRatingIndex";
}

<div class="account-container">
    <div class="account-controls-panel">
        <div class="library-logo">
            Library Logo
        </div>
        <div class="user-info">
            <div class="user-pfp-container">
                <img src="~/images/pfp_male.svg" id="user-pfp-img" />
            </div>
            <h1 class="display-1">@(TempData.Peek("fullName"))</h1>
        </div>
        <a class="account-nav" asp-area="" asp-controller="Home" asp-action="AdminDashboard">
            <i class="fa-solid fa-chart-bar"></i>
            <h2 class="display-2">Dashboard</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="AddMedia" asp-action="AddComputer">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Inventory</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Employee" asp-action="EmployeeIndex">
            <i class="fa-solid fa-user-group"></i>
            <h2 class="display-2">Manage Employees</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Historian" asp-action="HistorianIndex">
            <i class="fa-solid fa-user-group"></i>
            <h2 class="display-2">Manage Historians</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Student" asp-action="StudentIndex">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Manage Students</h2>
        </a>
        <a class="account-nav active-l" asp-area="" asp-controller="Reports" asp-action="CheckoutsByDateIndex">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Report Generator</h2>
        </a>
        <a class="account-nav" asp-controller="DashboardSettings" asp-action="Admin" asp-route-id="@(TempData.Peek("libraryCard"))">
            <i class="fa-solid fa-gear"></i>
            <h2 class="display-2">Settings</h2>
        </a>
        <a class="account-nav" id="account-signout-btn" asp-controller="Account" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h2 class="display-2">Sign out</h2>
        </a>
    </div>
    <div class="report-container">
        <div class="media-form-header">
            <h1 class="display-1">Choose a report type:</h1>
            <select name="report-type" id="report-type">
                <option>Checkouts</option>
                <option selected="true">Ratings</option>
                <option>Students</option>
                <option>Overdue Fees</option>
            </select>

            <h1 class="display-1">Reviews of Specified Item</h1>
            <form class="report-form"> 
                <div class="input-wrapper-horizontal">
                    <label asp-for="mediaid">ItemID:</label>
                    <input type="number" name="mediaid" id="mediaid-input" placeholder="ID of item">
                    <span asp-validation-for="mediaid" class="text-danger"></span>
                </div>
                <button type="submit">Generate Report</button>
            </form>
        </div>
        <div class="table-container" style="display:none">
            <table id="transactions-table" class="display cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Review Rating</th>
                        <th>Evaluation</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    let mediaList;
    let table;
    //Get list of Audiobooks
    $(document).ready(function () {
        $('#transactions-table').DataTable({
            "destroy": true,
        });
        $('.table-container').show();
        //Creating datatable
        $("form").submit(function (e) {
            e.preventDefault();
            var formData = {
                fname: null,
                lname: null,
                mediaid: $('#mediaid-input').val(),
                reviewRating: null,
                evaluation: null,
                averageRating: null,
            };
            table = $('#transactions-table').DataTable({
                "destroy": true,
                "ajax": {
                    "type": "GET",
                    "data": formData,
                    "url": '/Reports/GetReviewsList',
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "fname" },
                    { "data": "lname" },
                    { "data": "reviewRating" },
                    { "data": "evaluation" },
                ],
                "bLengthChange": false,
                "pageLength": 5
            });
        });
    });
</script>
