@using Library_project.Data.Enums
@model Library_project.ViewModels.Reports.checkoutReportViewModel
@{
    ViewBag.Title = "OverduefeesByUserIndex";
}

<div class="account-container">
    <div class="account-controls-panel">
        <div class="library-logo">
            Library Logo
        </div>
        <div class="user-info">
            <div class="user-pfp-container">
                <img src="~/images/pfp_male.svg" id="user-pfp-img" />
            </div>
            <h1 class="display-1">@(TempData.Peek("fullName"))</h1>
        </div>
        <a class="account-nav" asp-area="" asp-controller="Home" asp-action="AdminDashboard">
            <i class="fa-solid fa-chart-bar"></i>
            <h2 class="display-2">Dashboard</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Employee" asp-action="EmployeeCheckouts">
            <i class="fa-solid fa-list-check"></i>
            <h2 class="display-2">Checkouts</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Review" asp-action="Employee">
            <i class="fa-solid fa-star-half-stroke"></i>
            <h2 class="display-2">Create a review</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="AddMedia" asp-action="AddComputer">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Inventory</h2>
        </a>
        @if ((string)TempData.Peek("role") == "manager")
        {
            <a class="account-nav" asp-area="" asp-controller="Employee" asp-action="EmployeeIndex">
                <i class="fa-solid fa-user-group"></i>
                <h2 class="display-2">Manage Employees</h2>
            </a>
        }
        <a class="account-nav" asp-area="" asp-controller="Student" asp-action="StudentIndex">
            <i class="fa-solid fa-user-group"></i>
            <h2 class="display-2">Manage Students</h2>
        </a>
        <a class="account-nav active-l" asp-area="" asp-controller="Reports" asp-action="CheckoutsByDateIndex">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Report Generator</h2>
        </a>
        <a class="account-nav" asp-controller="DashboardSettings" asp-action="Admin" asp-route-id="@(TempData.Peek("libraryCard"))">
            <i class="fa-solid fa-gear"></i>
            <h2 class="display-2">Settings</h2>
        </a>
        <a class="account-nav" id="account-signout-btn" asp-controller="Account" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h2 class="display-2">Sign out</h2>
        </a>
    </div>
    <div class="media-entry-container">
        <div class="media-form-header">
            <h1 class="display-1">Choose a report type:</h1>
            <select name="report-type" id="report-type">
                <option selected="true">Checkouts</option>
                <option>Ratings</option>
                <option>Students</option>
                <option>Checkouts</option>
                <option>Overdue Fees</option>
            </select>
        </div>
    </div>
    <div class="user-combined-panel">
        <div class="user-entry-container">
            <div class="media-form-header">
                <h1 class="display-1">Checkouts within TimeFrame</h1>
            </div>
            <form class="user-entry-form" asp-action="GetCheckoutsByDateList" asp-controller="Reports" method="post">
                <div class="input-wrapper-horizontal">
                    <label asp-for="q_startDate">Start Date:</label>
                    <input type="date" name="q_startDate" placeholder="YYYY-MM-DD">
                    <span asp-validation-for="q_startDate" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="q_endDate">End Date:</label>
                    <input type="date" name="q_endDate" placeholder="YYYY-MM-DD">
                    <span asp-validation-for="q_endDate" class="text-danger"></span>
                </div>
                <button type="submit">Generate Report</button>
            </form>
        </div>
    </div>
    <script></script>
</div>