@using Library_project.ViewModels.Employee
@model CreateEmployeeViewModel
@{
    ViewData["Title"] = "CreateEmployeeView";
}
    <form action="CreateEmployeeLandingPage" method="post">
            <div class="input-wrapper">
                <label asp-for="fname">fname</label>
                <input asp-for="fname">
            </div>
             <div class="input-wrapper">
                <label asp-for="mname">mname</label>
                <input asp-for="mname">
            </div>
            <div class="input-wrapper">
                <label asp-for="lname">lname</label>
                <input asp-for="lname">
            </div>
            <div class="input-wrapper">
                <label asp-for="position">position</label>
                <input asp-for="position">
            </div>
            <div class="input-wrapper">
                <label asp-for="salary">salary</label>
                <input asp-for="salary">
            </div>
            <div class="input-wrapper">
                <label asp-for="age">age</label>
                <input asp-for="age">
            </div>
            <div class="input-wrapper">
                <label asp-for="email">email</label>
                <input asp-for="email">
            </div>
            <div class="input-wrapper">
                <label asp-for="password">password</label>
                <input asp-for="password">
            </div>
            <div class="input-wrapper">
                <label asp-for="homeaddress">homeaddress</label>
                <input asp-for="homeaddress">
            </div>
            <div class="input-wrapper">
                <label asp-for="phonenumber">phonenumber</label>
                <input asp-for="phonenumber">
            </div>
            <div class="input-wrapper">
                
                <input type="submit">
            </div>
            
            
        </form>


