@{
    ViewBag.Title = "EmployeeCheckouts";
}

<div class="account-controls-panel">
        <div class="user-info">
            <div class="user-pfp-container">
                <img src="~/images/pfp_male.svg" id="user-pfp-img" />
            </div>
            <h1 class="display-1">@(TempData.Peek("fullName"))</h1>
        </div>
        <a class="account-nav active-l" asp-area="" asp-controller="Home" asp-action="AdminDashboard">
            <i class="fa-solid fa-chart-bar"></i>
            <h2 class="display-2">Dashboard</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Employee" asp-action="EmployeeCheckouts">
            <i class="fa-solid fa-list-check"></i>
            <h2 class="display-2">Checkouts</h2>
        </a>
         <a class="account-nav" asp-area="" asp-controller="Hold" asp-action="userHolds">
            <i class="fa-solid fa-list-check"></i>
            <h2 class="display-2">My Holds</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Review" asp-action="CreateReview">
            <i class="fa-solid fa-star-half-stroke"></i>
            <h2 class="display-2">Create a review</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="AddMedia" asp-action="AddComputer">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Inventory</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Hold" asp-action="allHolds">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">all holds</h2>
        </a>
        @if ((string)TempData.Peek("role") == "manager")
        {
            <a class="account-nav" asp-area="" asp-controller="Employee" asp-action="EmployeeIndex">
                <i class="fa-solid fa-user-group"></i>
                <h2 class="display-2">Manage Employees</h2>
            </a>
        }
        <a class="account-nav" asp-area="" asp-controller="Student" asp-action="StudentIndex">
            <i class="fa-solid fa-user-group"></i>
            <h2 class="display-2">Manage Students</h2>
        </a>
        <a class="account-nav " asp-area="" asp-controller="Reports" asp-action="CheckoutsByDateIndex">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Report Generator</h2>
        </a>
        <a class="account-nav" asp-controller="DashboardSettings" asp-action="Admin" asp-route-id="@(TempData.Peek("libraryCard"))">
            <i class="fa-solid fa-gear"></i>
            <h2 class="display-2">Settings</h2>
        </a>
        <a class="account-nav" id="account-signout-btn" asp-controller="Account" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h2 class="display-2">Sign out</h2>
        </a>
</div>
    <div class="user-combined-panel" style="width: 100%;">
        <div class="user-entry-container">
        </div>
        <div class="user-recent-transactions-panel" style="height: 100%">
            <div class="user-recent-transactions">
                <div class="recent-transactions-header">
                    <h1 class="display-1" style="text-align: center">Current Checkouts</h1>
                    <h2 class="display-2" id="recent-transactions-subheader"></h2>
                </div>
                <div class="table-container" style="display:none">
                    <table id="transactions-table" class="display cell-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Item</th>
                                <th>Checkout Date</th>
                                <th>Return By Date</th>
                                <th>Date Returned</th>
                                <th>Return item</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    let checkoutList;
    let table;
    //Get list of employees
    $(function () {
        //Creating datatable
        table = $('#transactions-table').DataTable({
            "ajax": {
                "type": "GET",
                "data": { "employeeid": @(TempData.Peek("libraryCard")) },
                "url": '/Checkout/GetEmployeesCheckoutList',
                "dataSrc": ''
            },
            "columns": [
                { "data": "mediaType" },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        if (data.brand == "") {
                            return data.title;
                        } else {
                            return (data.brand + " " + data.serialNo);
                        }
                    }
                },
                { "data": "checkoutDate" },
                { "data": "returnDate" },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        if (data.returned == true) {
                            return data.returnedDate;
                        } else {
                            return "N/A";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        if (data.returned) {
                            return "<i class='fa-regular fa-square-check'></i>";
                        } else {
                            return "<a style='cursor:pointer' class='return-item'><i class='fa-regular fa-square'></i></a>";
                        }
                    }
                }
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data['returned'] == true) {
                    $(row).addClass('light-green');
                } else if (Date.now() - Date.parse(data.returnDate) > 0) {
                    $(row).addClass('light-red');
                } else {
                    $(row).addClass('light-orange');
                }
            }
        });
        $('.table-container').show();
    });
    //Return
    $('#transactions-table').on('click', '.return-item', function () {
        let tr = $(this).closest('tr');
        let mediaId = table.row(tr).data().mediaId;

        window.location.href = '/Checkout/Checkoutitem?mediaId=' + mediaId;
    });
</script>