@using Library_project.ViewModels.Employee
@model listEmployeeViewModel;
@{
    ViewBag.Title = "Index";
}
<div class="media-display-container">
	@foreach (var item in Model.allEmployees)
	{
		<div class="media-display-card">
			<h1>@item.fname</h1>
			
		</div>
	}
</div>
