@using Library_project.ViewModels.Historian
@model listHistorianViewModel;
@{
    ViewBag.Title = "Index";
}
<div class="Historian-display-container">
	@foreach (var item in Model.allHistorians)
	{
		<div class="media-display-card">
			<h1>@item.fname</h1>
			<h2>Expertise: @item.expertise</h2>
			<h2>From: @item.education</h2>
			<img src=""/>
		</div>
	}
</div>
<div>
    <a href="/Historian/CreateHistorianView">Add a Historian</a>
</div>