@using Library_project.ViewModels.Checkout
@model CheckoutListViewModel
@{
	ViewData["Title"] = "CheckoutList";
}

<div>
	@foreach (var item in Model.allCheckouts)
	{
		<div class="media-display-card">
			<h2>checked out by @item.studentid</h2>
			<h2>item Checked out @item.mediaid</h2>
			<h2>checkout date - @item.checkoutdate</h2>
			<h2>return date - @item.returndate</h2>
			<img src="~/images/book-cover-placeholder.png" />
		</div>
	}
</div>