@using Library_project.ViewModels.Checkout
@model CreateCheckoutViewModel
@{
    ViewBag.Title = "CreateCheckoutLandingPage";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning">
        <strong> warning!</strong>  @TempData["AlertMessage"]
    </div>
}
else
{
    <div class="alert alert-success">
        <h4> Check out is successful </h4>
    </div>
}