@using Library_project.ViewModels.Checkout
@model CreateCheckoutViewModel
@{
    ViewData["Title"] = "createCheckout";
}
<form action="CreateCheckoutLandingPage" method="post">
        <div class="input-wrapper">
            <label asp-for="studentid">student ID</label>
            <input asp-for="studentid">
        </div>
        <div class="input-wrapper">
            <label asp-for="mediaid">media ID</label>
            <input asp-for="mediaid">
        </div>
        <div class="input-wrapper">
            <input type ="submit" />
        </div>
    </form>
