.media-entry-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.media-entry-form {
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
}

    .media-entry-form select {
        margin: 0.25rem 0 1.25rem;
    }

.user-entry-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.user-entry-form {
    justify-self: center;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.input-wrapper-horizontal {
    min-width: 20vw;
    max-width: 20vw;
    margin: 0 1rem;
    position: relative;
}

    .input-wrapper-horizontal input {
        border: 1px solid gray;
        padding: 0 1rem;
        border-radius: 6px;
        position: relative;
        width: 100%;
        margin: 1rem 0;
        line-height: 3rem;
    }

    .input-wrapper-horizontal label {
        font-size: 1rem;
        position: absolute;
        top: 0.2ex;
        z-index: 1;
        left: 2em;
        background-color: white;
        padding: 0 5px;
    }

.media-form-header {
    margin-bottom: 1rem;
    margin: 3vw;
}

    .media-form-header h1 {
        font-size: 3rem;
    }

.sub-header {
    color: #8f8f8f;
    font-size: 1rem;
    font-weight: 300;
}

.sub-header-2 {
    color: #6b6b6b;
    font-size: 1rem;
    font-weight: 300;
}

#media-type {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.image-wrapper {
    margin: 0.25rem 0 1rem;
}

    .image-wrapper input {
        margin-top: 0.25rem;
    }

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

    .checkbox-wrapper input {
        transform: scale(1.25);
        margin: 0 0.5rem;
    }

.user-form-controls {
    margin: 1rem 0 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-submit-btn {
    background-color: #2550d2;
    align-self: flex-end;
    color: white;
    border: 1px solid #2550d2;
    border-radius: 6px;
    font-size: 1.25rem;
    width: 40%;
    height: 3rem;
    margin: 0.5rem 0;
}

user-submit-btn:hover {
    background-color: #1e40a8;
    color: white;
}

.media-submit-btn {
    background-color: #2550d2;
    align-self: flex-end;
    color: white;
    border: 1px solid #2550d2;
    border-radius: 6px;
    font-size: 1.25rem;
    width: 50%;
    height: 3rem;
    margin: 0.5rem 0;
}

    .media-submit-btn:hover {
        background-color: #1e40a8;
        color: white;
    }

.edit-form-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-edit-form-controls {
    display: flex;
    width: 100%;
    justify-content: center;
}

.media-save-btn {
    background-color: #2550d2;
    color: white;
    border: 1px solid #2550d2;
    border-radius: 6px;
    font-size: 1.25rem;
    width: 30%;
    height: 3rem;
    margin: 0.5rem 0;
}

    .media-save-btn:hover {
        background-color: #1e40a8;
        color: white;
    }

.media-cancel-btn {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 1.25rem;
    width: 30%;
    height: 3rem;
    margin: 0.5rem 0.5rem;
}

    .media-cancel-btn:hover {
        background-color: #c5c9d2;
        color: black;
    }


.media-recent-transactions-panel {
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-recent-transactions {
    background-color: #F3F6FB;
    width: 100%;
    height: 100%;
}

.user-recent-transactions-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-recent-transactions {
    background-color: #F3F6FB;
    width: 100%;
    height: 100%;
}

.recent-transactions-header {
    margin: 3vw 3vw 2vw;
}

    .recent-transactions-header h1 {
        font-size: 3rem;
    }

.table-container {
    margin: 1rem 2rem;
    background-color: white;
    padding: 3rem 1rem 5rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 0px 6px rgb(146, 168, 233, 0.7);
}

#transactions-table_wrapper {
    width: 90%;
}

#transactions-table {
    border-radius: 5px;
    padding: 1rem 0 0.5rem 0;
    border: none;
}

    #transactions-table thead {
        border-radius: 5px 5px 0 0;
        background-color: #2550d2;
        color: white;
    }

        #transactions-table thead th {
            font-weight: 500;
        }

    #transactions-table tbody {
        background-color: white;
    }

    #transactions-table a {
        margin: 0 0.4rem;
    }

.edit-row-btn {
    cursor: pointer;
}

.delete-row-btn {
    cursor: pointer;
}

.report-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
