#explore-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

/*
    Header
*/
#explore-header {
    align-self: center;
}

#explore-navbar {
    background-color: #2550d2;
    box-shadow: 2px 2px 2px lightgray;
    margin-bottom: 5vh;
    height: 60%;
}

    #explore-navbar li {
        margin: 0.3rem;
    }

    #explore-navbar a {
        color: white;
        padding: 0;
        margin: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
    }

        #explore-navbar a:hover {
            font-weight: bold;
        }

.active-b {
    border-bottom: 2px solid white;
}

/*
    Display container
*/
.media-display-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#media-partial-placeholder {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 85%;
}

.media-display-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1.5%;
    background-color: white;
    border: 1px solid #D3D3D3;
    box-shadow: 3px 3px 8px rgb(205, 205, 205, .8);
    transition: transform 0.5s;
    cursor: pointer;
}

    .media-display-item h1 {
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    .media-display-item h2 {
        font-size: 1rem;
    }

    .media-display-item .media-checkout-btn {
        padding: 0.5rem;
        align-self: flex-end;
        color: #2550d2;
        font-weight: bold;
        font-size: 1rem;
    }

.media-checkout-btn {
    display: flex;
    flex-direction: column;
}

    .media-checkout-btn a {
        text-decoration: none;
    }

.underline-animation:after {
    display: block;
    content: '';
    border-bottom: solid 3px #2550d2;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.underline-animation:hover:after {
    transform: scaleX(1);
}

.underline-animation i {
    margin: 0 0.35rem;
}

.underline-animation {
    align-self: flex-end;
}

.checkout-btn-txt {
    align-self: flex-end;
}

.checkout-fail-text {
    color: red;
}

    .checkout-fail-text:hover {
        color: red;
    }

.checkout-success-text {
    color: green;
}

    .checkout-success-text:hover {
        color: green;
    }

.media-display-item:nth-child(3n+1) {
    order: 1;
}

.media-display-item:nth-child(3n+2) {
    order: 2;
}

.media-display-item:nth-child(3n) {
    order: 3;
}

.media-display-item:hover {
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 10px #b3b3b3;
}

.description-placeholder {
    color: rgb(105, 105, 105, 1);
    text-decoration: underline;
    text-decoration-color: rgb(155, 155, 155, 1);
}

.media-display-text {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

#media-partial-placeholder::before,
#media-partial-placeholder::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

/*
    Empty data
*/
.empty-data-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .empty-data-container img {
        margin-top: 4rem;
        width: 30%;
    }

    .empty-data-container h1 {
        margin: 2rem 0 4rem;
        font-size: 2.5rem;
        font-weight: 400;
    }

.nav-item {
    cursor: pointer;
}

.hide {
    display: none;
}
