.login-container {
    margin: 0 0 3rem 0;
    width: 80vw;
    height: 100vh;
    display: flex;
    box-shadow: 3px 3px 7px #d9d9d9;
}

.login-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#login-form {
    margin-top: 20vh;
    width: 70%;
}

    #login-form section {
        margin: 1rem 0;
    }

    #login-form h2 {
        color: #8f8f8f;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    #login-form h3 {
        color: #4d4d4d;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

.input-wrapper {
    position: relative;
}

    .input-wrapper input {
        border: 1px solid gray;
        padding: 0 1rem;
        border-radius: 6px;
        position: relative;
        width: 100%;
        margin: 1rem 0;
        line-height: 3rem;
        font-size: 1.25rem;
    }

    .input-wrapper label {
        font-size: 1rem;
        position: absolute;
        top: 0.2ex;
        z-index: 1;
        left: 2em;
        background-color: white;
        padding: 0 5px;
    }

    .input-wrapper textarea {
        border: 1px solid gray;
        padding: 1rem;
        border-radius: 6px;
        position: relative;
        width: 100%;
        margin: 1rem 0;
        line-height: 1.5rem;
    }

#login-submit-btn {
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
    height: 3rem;
    border: none;
    margin: 0.5rem 0;
}

.login-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #e9eefb;
}

#login-img {
    max-width: 70%;
}

