@model Library_project.ViewModels.BookViewModel;
@{
	ViewBag.Title = "BookIndex";
}

<div class="media-display-container">
	@foreach (var item in Model.AllBooks)
	{
		<div class="media-display-card">
			<h1>@item.title</h1>
			<h2>Written by @item.author</h2>
			<h2>Genre - @item.genres</h2>
			<img src="~/images/book-cover-placeholder.png"/>
		</div>
	}
</div>