@{
    ViewData["Title"] = "Admin account";
}

<div class="account-container">
    <div class="account-controls-panel">
        <div class="library-logo">
            Library Logo
        </div>
        <div class="user-info">
            <div class="user-pfp-container">
                <img src="~/images/pfp_male.svg" id="user-pfp-img" />
            </div>
            <h1 class="display-1">Name</h1>
        </div>
        <a class="account-nav" asp-area="" asp-controller="Home" asp-action="AdminDashboard">
            <i class="fa-solid fa-chart-bar"></i>
            <h2 class="display-2">Dashboard</h2>
        </a>
        <a class="account-nav active-l" asp-area="" asp-controller="Home" asp-action="AddMediaForm">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2 class="display-2">Inventory</h2>
        </a>
        <a class="account-nav">
            <i class="fa-solid fa-gear"></i>
            <h2 class="display-2">Settings</h2>
        </a>
        <a class="account-nav" id="account-signout-btn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h2 class="display-2">Sign out</h2>
        </a>
    </div>
    <div class="media-entry-container">
        <div class="media-form-header">
            <h1 class="display-1">Choose an entry type</h1>
            <h2 class="display-2" id="media-form-subheader"></h2>
            <label for="media-type"></label>
            <select name="media-type" id="media-type">
                <option><a>Computer</a></option>
                <option>Camera</option>
                <option>Projector</option>
                <option>Book</option>
                <option>Journal</option>
                <option>Movie</option>
                <option>Audiobook</option>
            </select>
        </div>
        <form class="media-entry-form" id="computer-entry-form">
            <div class="input-wrapper">
                <label for="brand">Brand</label>
                <input type="text" id="computer-brand" name="brand" />
            </div>
            <div class="input-wrapper">
                <label for="serialnumber">Serial Number</label>
                <input type="text" id="computer-serialNumber" name="serialnumber" />
            </div>
            <div class="input-wrapper">
                <label for="description">Description</label>
                <input type="text" id="computer-description" name="description" />
            </div>
            <label for="availibility">Availibility</label>
            <input type="checkbox" id="computer-availibility" name="availibility" />
        </form>

        <form class="media-entry-form" id="camera-entry-form" method="post" asp-controller="explore" asp-action="AddCamera">
            <div class="input-wrapper">
                <label for="brand">Brand</label>
                <input type="text" id="camera-brand" name="brand" />
            </div>
            <div class="input-wrapper">
                <label for="serialnumber">Serial Number</label>
                <input type="text" id="camera-serialNumber" name="serialnumber" />
            </div>
            <div class="input-wrapper">
                <label for="description">Description</label>
                <input type="text" id="camera-description" name="description" />
            </div>
            <div class="input-wrapper">
                <label for="lumens">Lumens</label>
                <input type="text" id="camera-lumens" name="lumens" />
            </div>
            <label for="availibility">Availibility</label>
            <input type="checkbox" id="camera-availibility" name="availibility" />
            <input type="submit" value="Submit" />
        </form>

        <form class="media-entry-form" id="projector-entry-form">
            <div class="input-wrapper">
                <label for="Brand">Brand</label>
                <input type="text" id="projector-brand" name="Brand" />
            </div>
            <div class="input-wrapper">
                <label for="SerialNumber">Serial Number</label>
                <input type="text" id="projector-serialNumber" name="SerialNumber" />
            </div>
            <div class="input-wrapper">
                <label for="Description">Description</label>
                <input type="text" id="projector-description" name="Description" />
            </div>
            <div class="input-wrapper">
                <label for="Lumens">Lumens</label>
                <input type="text" id="projector-lumens" name="Lumens" />
            </div>
            <label for="Availibility">Availibility</label>
            <input type="checkbox" id="projector-availibility" name="Availibility" />
        </form>

        <form class="media-entry-form" id="book-entry-form">
            <div class="input-wrapper">
                <label for="Title">Title</label>
                <input type="text" id="book-title" name="Title" />
            </div>
            <div class="input-wrapper">
                <label for="Author">Author</label>
                <input type="text" id="book-author" name="Author" />
            </div>
            <div class="input-wrapper">
                <label for="Genre">Genre</label>
                <input type="text" id="book-genre" name="Genre" />
            </div>
            <div class="input-wrapper">
                <label for="ISBN">ISBN</label>
                <input type="text" id="book-ISBN" name="ISBN" />
            </div>
            <div class="input-wrapper">
                <label for="Length">Length(pages)</label>
                <input type="text" id="book-length" name="Length" />
            </div>
            <div class="input-wrapper">
                <label for="Year_Published">Year published</label>
                <input type="text" id="book-year-published" name="Year_Published" />
            </div>
            <label for="Availibility">Availibility</label>
            <input type="checkbox" id="book-availibility" name="Availibility" />
        </form>

        <form class="media-entry-form" id="journal-entry-form">
            <div class="input-wrapper">
                <label for="Title">Title</label>
                <input type="text" id="journal-title" name="Title" />
            </div>
            <div class="input-wrapper">
                <label for="Researchers">Researcher(s)</label>
                <input type="text" id="journal-researchers" name="Researchers" />
            </div>
            <div class="input-wrapper">
                <label for="Subject">Subject</label>
                <input type="text" id="journal-subject" name="Subject" />
            </div>
            <div class="input-wrapper">
                <label for="Length">Length(pages)</label>
                <input type="text" id="journal-length" name="Length" />
            </div>
            <div class="input-wrapper">
                <label for="Publishing_Date">Date published(mm/dd/yyyy)</label>
                <input type="text" id="journal-year-published" name="Publishing_Date" />
            </div>
            <label for="Availibility">Availibility</label>
            <input type="checkbox" id="journal-availibility" name="Availibility" />
        </form>

        <form class="media-entry-form" id="movie-entry-form">
            <div class="input-wrapper">
                <label for="Title">Title</label>
                <input type="text" id="movie-title" name="Title" />
            </div>
            <div class="input-wrapper">
                <label for="Director">Director</label>
                <input type="text" id="movie-director" name="Director" />
            </div>
            <div class="input-wrapper">
                <label for="Format">Format</label>
                <input type="text" id="movie-format" name="Format" />
            </div>
            <div class="input-wrapper">
                <label for="Rating">Rating</label>
                <input type="text" id="movie-rating" name="Rating" />
            </div>
            <div class="input-wrapper">
                <label for="Release_Date">Release Date</label>
                <input type="text" id="movie-release-date" name="Release_Date" />
            </div>
            <div class="input-wrapper">
                <label for="Genre">Genre</label>
                <input type="text" id="movie-genre" name="Genre" />
            </div>
            <div class="input-wrapper">
                <label for="Length">Length</label>
                <input type="text" id="movie-length" name="Length" />
            </div>
            <label for="Availibility">Availibility</label>
            <input type="checkbox" id="movie-availibility" name="Availibility" />
        </form>

        <form class="media-entry-form" id="audiobook-entry-form">
            <div class="input-wrapper">
                <label for="Title">Title</label>
                <input type="text" id="audiobook-title" name="Title" />
            </div>
            <div class="input-wrapper">
                <label for="Genre">Genre</label>
                <input type="text" id="audiobook-genre" name="Genre" />
            </div>
            <div class="input-wrapper">
                <label for="Narrator">Narrator</label>
                <input type="text" id="audiobook-narrator" name="Narrator" />
            </div>
            <div class="input-wrapper">
                <label for="Author">Author</label>
                <input type="text" id="audiobook-author" name="Author" />
            </div>
            <div class="input-wrapper">
                <label for="Length">Length</label>
                <input type="text" id="audiobook-length" name="Length" />
            </div>
                <label for="Availibility">Availibility</label>
            <input type="checkbox" id="audiobook-availibility" name="Availibility" />
        </form>
    </div>
    <div class="media-recent-transactions-panel">
        <div class="media-recent-transactions">
            <div class="recent-transactions-header">
                <h1 class="display-1">Recent transactions</h1>
                <h2 class="display-2" id="recent-transactions-subheader"></h2>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.media-entry-form').hide();
    $('#computer-entry-form').show();
</script>