@{
    ViewData["Title"] = "Home Page";
}

<div id="index-header-container">
    <div id="index-header-text">
        <h1 class="display-1" style="margin-bottom: 2rem">
            Where knowledge <br />
            <a style="font-weight: bold; color:#2550d2">begins.</a>
        </h1>
        <h2 class="display-2" style="font-size: 1.5rem; color: #808080">
            Discover a world of resources and services at the Den of Knowledge library! From book and journal checkouts to computer and projector use, we have everything you need to expand your knowledge. Don't forget to also check out our appointments with historians and a range of exciting activities.
        </h2>
        <button class="btn-expand main-btn" id="explore-btn" onclick="location.href='@Url.Action("Index", "Explore")'">Explore</button>
    </div>
    
    <img src="~/images/girl_reading_book.svg" id="index-header-img" />
</div>
