@{
    ViewData["Title"] = "login Page";
}

<div id="login-container">
    <div id="login-form-container">
        <form id="login-form">
            <h1 class="display-4">Welcome back!</h1>
            <h2 class="display-6">Please enter your details.</h2>
            <div class="input-wrapper display-6">
                <label for="username">Username</label>
                <input type="text">
            </div>
            <div class="input-wrapper display-6">
                <label for="password">Password</label>
                <input type="text">
            </div>
            <button class="display-6" id="login-submit-btn">
                Login
            </button>
        </form>
    </div>
    <div id="login-img-container">
        <img src="~/images/login-bg.svg" id="login-img" />
    </div>
</div>