@{
    ViewData["Title"] = "Register Page";
}

<div class="login-container">
    <div class="login-img-container">
        <img src="~/images/register-bg.svg" id="register-img" />
    </div>
    <div class="login-form-container">
        <form id="register-form">
            <h1 class="display-4">Welcome!</h1>
            <h2 class="display-6">Please enter your details.</h2>
            <div class="input-wrapper display-6">
                <label for="username">Username</label>
                <input type="text">
            </div>
            <div class="input-wrapper display-6">
                <label for="email">Email</label>
                <input type="text">
            </div>
            <div class="input-wrapper display-6">
                <label for="password">Password</label>
                <input type="text">
            </div>
            <button class="display-6" id="register-submit-btn">
                Sign-up
            </button>
            <h3 class="display-6">
                Already have an account? Sign in <a asp-area="" asp-controller="Home" asp-action="Login">here</a>.
            </h3>
        </form>
    </div>
    
</div>