@using Library_project.Data.Enums
@using Library_project.ViewModels.Book
@model CreateBookViewModel
@{
    ViewData["Title"] = "CreateBookView";
}
    <form action="CreateBookLandingPage" method="post">
            <div class="input-wrapper">
                <label asp-for="title">title</label>
                <input asp-for="title">
            </div>
             <div class="input-wrapper">
                <label asp-for="author">author</label>
                <input asp-for="author">
            </div>
            <div class="input-wrapper">
                <label asp-for="isbn">isbn</label>
                <input asp-for="isbn">
            </div>
            <div class="input-wrapper">
                <label asp-for="pageCount">pageCount</label>
                <input asp-for="pageCount">
            </div>
            <div class="input-wrapper">
                <label asp-for="isAvailable">Available?</label>
                <input asp-for="isAvailable">
            </div>
            <div class="input-wrapper">
                <label asp-for="publishDate">Publish Date</label>
                <input asp-for="publishDate" type="date">
            </div>
            <div>
            <label asp-for="genre">Genre</label>
            <select asp-for="genre" asp-items="Html.GetEnumSelectList<genres>()">
            <option>Select type</option>
            </select>
            <span asp-validation-for="genre"></span>
            </div>
            <div class="input-wrapper">
                
                <input type="submit">
            </div>
            
            
        </form>


