@using Library_project.ViewModels.Review
@model CreateReviewViewModel
@{
    ViewBag.Title = "CreateReviewLandingPage";
}
<h1>review submitted</h1>
<div>
	<a href= "/Review/ReviewList"> view reviews</a>
</div>