@using Library_project.ViewModels.Review
@model ReviewListViewModel
@{
	ViewData["Title"] = "ReviewList";
}

	<h1> REVIEWS </h1>



<div>
	@foreach (var item in Model.allReviews)
	{
		<div>
			<h2> student id:@item.studentid</h2>
			<h2> rating: @item.rating</h2>
			<h2> comment: @item.evaluation</h2>
			<h2> itemID: @item.mediaid</h2>
		</div>
	}
</div>