@using Library_project.Data.Enums
@using Library_project.ViewModels.Journal
@model CreateJournalViewModel 

@{
    ViewBag.Title = "CreateJournalView";
}
<form action="CreateJournalLandingPage" method="post">
            <div class="input-wrapper">
                <label asp-for="title">title</label>
                <input asp-for="title">
            </div>
             <div class="input-wrapper">
                <label asp-for="researchers">author</label>
                <input asp-for="researchers">
            </div>
            <div class="input-wrapper">
                <label asp-for="subject">subject</label>
                <input asp-for="subject">
            </div>
            <div class="input-wrapper">
                <label asp-for="length">length</label>
                <input asp-for="length">
            </div>
            <div class="input-wrapper">
                <label asp-for="isavailable">Available?</label>
                <input asp-for="isavailable" value=true>
            </div>
            <div class="input-wrapper">
                <label asp-for="releasedate">Release Date</label>
                <input asp-for="releasedate" type="date">
            </div>
            <div class="input-wrapper">
                
                <input type="submit">
            </div>
            
            
        </form>